@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#front {
    background-image: url("https://picsum.photos/1000/1000");
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

body {
    background-color: #28282b;
    overflow: hidden;
    scroll-behavior: smooth;
}

/* nav */


.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#t1{
    animation:in_selected 0.5s ease forwards;
}

#nav{
    position:fixed;
    display:flex;
    flex-direction: column;
    left: 85%;
    top:45%;
    width:200px;
    height: 200px;
    z-index:1;
    font-family: "Ubuntu";
}
.title{
    text-align: right;
    color:darkgrey;
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;


}
/*.selected{
    font-weight: bold;
    font-size: larger;
    color:black;
    animation: in_selected 1s ease forwards;
}
.unselected{
    font-weight: bold;
    font-size: larger;
    color:black;
    animation: out_selected 1s ease forwards;
}*/

@keyframes out_selected {
    from{
        margin-right:1vw;
        font-size: 1.5vw;
        margin-top:1vw;
        margin-bottom:1vw;
    }
    to{
        margin-right:0;
        font-size: medium;
        margin-top:0;
        margin-bottom:0;

    }
}
@keyframes in_selected {
    from {
        margin-right:0;
        font-size: medium;
        margin-top:0;
        margin-bottom:0;
    }
    to{
        font-weight: bold;
        margin-right:1vw;
        font-size: 1.5vw;
        margin-top:1vw;
        margin-bottom:1vw;
    }
}

@keyframes distance_1_from_2{
    from{
        opacity: 0.4;
        font-size: medium;
    }
    to{
        opacity: 0.8;
        font-size: 1vw;
    }
}

@keyframes distance_1_from_0{
    from{
        opacity: 1;
        font-size: 1.5vw;
    }
    to{
        opacity: 0.8;
        font-size: 1vw;
    }
}

@keyframes distance_2_from_1{
    from{
        opacity: 0.8;
    }
    to{
        opacity: 0.6;
    }
}

@keyframes distance_2_from_3{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 0.6;
    }
}
@keyframes distance_3_from_2 {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 0.4;
    }
}
@keyframes distance_3_from_4 {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes distance_4_from_3 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.2;
    }
}
@keyframes distance_4_from_5 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.2;
    }
}


/* arrow */

.icon-scroll {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 1em;
    height: 3.125em;
    transform: translateX(-50%) scale(2);
    z-index: 99999;
}


.icon-scroll span {
    animation-delay: .2s;
}


.icon-scroll .mouse {
    height: 1.375em;
    width: .875em;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2em;
}

.icon-scroll .wheel {
    position: relative;
    display: block;
    height: 0.1875em;
    width: 0.1875em;
    margin: 0.1875em auto 0;
    background: rgba(255, 255, 255, 1);
    animation: mouse-wheel 1.2s ease infinite;
    border-radius: 50%;
}

@keyframes mouse-wheel {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(.375em);
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


/*front_up*/

@keyframes front-up {

    20% {
        opacity: 1;
        height: 80vh;
    }
    50% {
        transform: translateY(20vh);
    }
    99% {
        opacity: 1;
        height: 80vh;
        transform: translateY(-100vh);
    }
    100% {
        opacity: 1;
        height: 80vh;
        transform: translateY(-100vh);
    }
}

/* text reveal */

#txt-holder {
    text-align: center;
    color: #555;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 32px;
    padding-top: 40vh;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

#txt-holder div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#first_txt {
    color: black;
    font-weight: bold;
    animation: showup 7s forwards;
}

#reveal {
    margin: 5px;
    background-color: #B8B8FF;
    width: 0px;
    animation: reveal 7s forwards;
}

#second-txt {
    margin-left: -365px;
    animation: slidein 7s forwards;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 365px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 365px;
    }
}


p {
    font-size: 12px;
    color: #999;
}

/* base */


.base  {
    height: 80vh;
    width: 100%;
}
#b1{
    background-color: #F0FFF0;
}
#b2{
    background-color: #28282b;
}
#b3{
    background-color: #F0FFF0;
}
#b5{
    background-color: #28282b;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-content:flex-end;
}
.footer{
    height:20vh;
    background-color: black;
}





/* TIMELINE PANEL */


#b4 {
    display: none;
    background-color: #031625;
}

#b4:hover .tl-item {
    width: 23.3333%;
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
    width: 30% !important;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
    filter: grayscale(0);
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}

.tl-content h1 {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tl-year p {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.728rem;
    line-height: 0;
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

#bg_time1 {
    background-image: url("https://picsum.photos/801/800");
}

#bg_time2 {
    background-image: url("https://picsum.photos/802/800");
}

#bg_time3 {
    background-image: url("https://picsum.photos/803/800");
}

#bg_time4 {
    background-image: url("https://picsum.photos/804/800");
}